apiVersion: v1
kind: ConfigMap
metadata:
  name: podinfo-values
  namespace: default
data:
  values.yaml: |
    replicaCount: 3
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 64Mi
